<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>359650596820-sqgaq290iadedgb34buuirkhp7qs5t2l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.359650596820-sqgaq290iadedgb34buuirkhp7qs5t2l</string>
	<key>API_KEY</key>
	<string>AIzaSyCoL4h0PGy_1r_Z76_5x0cxqKYspTzjKrw</string>
	<key>GCM_SENDER_ID</key>
	<string>359650596820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jaApp</string>
	<key>PROJECT_ID</key>
	<string>ja-app-6430b</string>
	<key>STORAGE_BUCKET</key>
	<string>ja-app-6430b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359650596820:ios:3422c7bb5f34a15136a841</string>
</dict>
</plist>